<nav>
    <ul>
        <li id="HOME"><a href="/">HOME</a></li> <!-- replace this with the logo as a link -->
        
        <li><a href="about">ABOUT</a></li>
        <li><a href="derivatives">DERIVATIVES</a></li>
        <li><a href="limits">LIMITS</a></li>
        <li><a href="algebra">ALGEBRA</a></li>
        <li><a href="matrix">MATRIX</a></li>
    </ul>
    <style>
        html {
            font-family: Arial, Helvetica, sans-serif;
        }
        #HOME {
            float: left
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: right;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111;
        }
    </style>
</nav>