<!DOCTYPE html>
<html>

<head>
	<title>Step By Step: About</title>
</head>

<body>
	<%- include('layouts/navbar'); -%>
		<h1>ABOUT</h1>
		<p>Step by step is an algebra calculator that not only shows you the answer, but shows you how to get there. It was conceived by Ben Wang after entering a calculus course and finding that he culd no longer use his previous tools to show him the inner workings for calculus, so after he did finally understand, he sought to create for others the same kind of tool that taught him understanding in Algebra, but at the higher level that was calculus.</p>
		<br>
		<p>There was once a cat who would be sad after making silly math mistakes such as (x+y)^2 = x^2 + y^2, but that cat was no more. Or maybe it never was? Who knows. Now that cat lives on in this website. (or it would, if css stopped breaking)</p>
</body>

</html>