<!DOCTYPE html>
<html>

<head>
    <title>Step by step: Algebra</title>
</head>

<body>
    <%- include('layouts/navbar'); -%>
        <h1>Algebruh</h1>
        <form action="/algebra" method="post">
            <input name="algebruh"></input><br>
            <!-- <input type="button" value="Evaluate" onclick="go()"> -->
            <button type="submit">Evaluate</button>
        </form>
        
        <p>: <%- solution %> </p>
</body>

</html>