<!DOCTYPE html>
<html>

<head>
    <title>Step by step: Algebra</title>
    <style>
        input {
            width: 10%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #aaa;
            border-radius: 4px;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <%- include('layouts/navbar'); -%>
        <h1>Algebruh</h1>
        <form action="/algebra" method="post">
            <input name="algebruh"></input><br>
            <!-- <input type="button" value="Evaluate" onclick="go()"> -->
            <button type="submit">Evaluate</button>
        </form>
        
        <p>: <%- solution %> </p>
</body>

</html>