<!DOCTYPE html>
<html>

<head>
    <title>Algebruh: Limits</title>
</head>

<body>
    <%- include('layouts/navbar'); -%>
        <h1>Limits</h1>
        <p>I'm at my limit</p>
        <form action="/limits" method="post">
            <label for="limit">Take the limit of</label>
            <input name="limit" id="limit" type="text"></input><br>
            <label for="wrt">as</label>
            <input name="wrt" id="wrt" type="text"></input><br>
            <label for="index">appoaches</label>
            <input name="index" id="index" type="text"></input><br>
            <button type="submit">Evaluate</button>
        </form>
        <p><%- solution %> </p>
        <h2>Things to note:</h2>
        <p>Euler's number: E</p>
        <p>Natural log: log()</p>
        <p>Log base b of a: log(a, b)</p>
        <p>+Infinity: oo</p>
        <p>-Infinity: -oo</p>
</body>

</html>