<!DOCTYPE html>
<html>

<head>
    <title>Step by step: Algebra</title>
</head>

<body>
    <%- include('layouts/navbar'); -%>
        <h1>Limit</h1>
        <p>I'm at my limit</p>
        <input></input>
</body>

</html>