<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <title>algebruh answer</title>
    </head>
    <body>
        <h1>The answer</h1>
        <p>: <%= solution %> </p>
        <a href="/algebra">Go back</a>
    </body>
</html>